<style>
#matchCountContainer {
  display: none;
}

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
  /* 既存のスタイル */
  form, select, label {
    float: left;
  }
  .image-display {
    position: relative;
  }
  .image-display .name-and-count {
    position: absolute;
    color: white;
    font-size: 24px;
    right: 10px;
    bottom: 10px;
  }

  /* 新しいスタイル */
    .champ-text {
    color: white;
  }
  .champ-text.large {
    font-size: 30px;
  }
  .champ-text.medium {
    font-size: 24px;
  }
  .champ-text.small {
    font-size: 18px;
  }

  .champ-image.large {
    width: 200px;
    height: 200px;
  }
  .champ-image.medium {
    width: 150px;
    height: 150px;
  }
  .champ-image.small {
    width: 100px;
    height: 100px;
  }
  a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: # fff20a;
  border-bottom: 2px solid #ccc100;
}
</style>

<h1>PickRecommender</h1>

  <div id="scores" data-scores="<%= @score.to_json %>"></div> 
<%= javascript_include_tag 'application' %>
<%= include_gon %>
<ul>
  <div id="scores" data-scores="<%= @score.to_json %>"></div> 
<%= javascript_include_tag 'application' %>
<%= include_gon %>
<ul>
<%= label_tag 'me1', '味方1:' %>
<%= select_tag 'me1', options_for_select([['何も用意しない', '']] + @sex2.map { |sex| [sex.name, sex.name] }), id: 'me1' %>

<%= label_tag 'me2', '味方2:' %>
<%= select_tag 'me2', options_for_select([['何も用意しない', '']] + @sex2.map { |sex| [sex.name, sex.name] }), id: 'me2' %>

<%= label_tag 'me3', '味方3:' %>
<%= select_tag 'me3', options_for_select([['何も用意しない', '']] + @sex2.map { |sex| [sex.name, sex.name] }), id: 'me3' %>

<%= label_tag 'me4', '味方4:' %>
<%= select_tag 'me4', options_for_select([['何も用意しない', '']] + @sex2.map { |sex| [sex.name, sex.name] }), id: 'me4' %>
<br>
</br>
<%= label_tag 'enemy1', '敵1:' %>
<%= select_tag 'enemy1', options_for_select([['何も用意しない', '']] + @sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy1' %>

<%= label_tag 'enemy2', '敵2:' %>
<%= select_tag 'enemy2', options_for_select([['何も用意しない', '']] + @sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy2' %>

<%= label_tag 'enemy3', '敵3:' %>
<%= select_tag 'enemy3', options_for_select([['何も用意しない', '']] + @sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy3' %>

<%= label_tag 'enemy4', '敵4:' %>
<%= select_tag 'enemy4', options_for_select([['何も用意しない', '']] + @sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy4' %>

<%= label_tag 'enemy5', '敵5:' %>
<%= select_tag 'enemy5', options_for_select([['何も用意しない', '']] + @sex2.map { |sex| [sex.name, sex.name] }), id: 'enemy5' %>
<br>
</br>
<%= label_tag 'map', 'map:' %>
<%= select_tag 'map', options_for_select(@situations.map { |situations| [situations.name, situations.name] }), id: 'map' %>


<a href="#" onclick="displayChampImage()" class="btn--yellow">最適なピックを表示する</a>

<div id="imageContainer"></div>
<!--<div id="namesContainer"></div>-->
<div id="matchCountContainer"></div>
<script>
function displayChampImage() {
  var names = ['me1', 'me2', 'me3', 'me4', 'enemy1', 'enemy2', 'enemy3', 'enemy4', 'enemy5']
  .map(function(id) {
    return document.getElementById(id).value;
  });
/*
document.getElementById('namesContainer').textContent = names
  .filter(function(name) {
    return name !== "";
  })
  .join(', ');
  */
  var themap = document.getElementById('map').value;

  var points = [];
  for (var i = 0; i < gon.champ.length; i++) {
    points[i] = 0;
  }

  var champs = [];
  for (var q = 0; q < gon.champ.length; q++) {
    champs[q] = gon.champ[q].name;
  }

  // シナジー
  for (var i = 0; i < gon.synergy.length; i++) {
    for (var j = 0; j < 4; j++) {
      if (names[j] === "") continue;

      if (String(gon.synergy[i].name1) === String(names[j])) {
        var horizon = champs.indexOf(gon.synergy[i].name2);
        if (horizon !== -1) points[horizon] += gon.synergy[i].x / 2;
      }

      if (String(gon.synergy[i].name2) === String(names[j])) {
        var horizon2 = champs.indexOf(gon.synergy[i].name1);
        if (horizon2 !== -1) points[horizon2] += gon.synergy[i].x / 2;
      }
    }
  }

  // カウンター
  for (var i = 0; i < gon.counter.length; i++) {
    for (var j = 4; j < 9; j++) {
      if (names[j] === "") continue;

      if (String(gon.counter[i].name1) === String(names[j])) {
        var horizon3 = champs.indexOf(gon.counter[i].name2);
        if (horizon3 !== -1) points[horizon3] -= gon.counter[i].x / 2;
      }

      if (String(gon.counter[i].name2) === String(names[j])) {
        var horizon4 = champs.indexOf(gon.counter[i].name1);
        if (horizon4 !== -1) points[horizon4] += gon.counter[i].x / 2;
      }
    }
  }

  // map
  if (themap !== "") {
    for (var i = 0; i < gon.situation.length; i++) {
      if (String(gon.situation[i].name1) === String(themap)) {
        var horizon5 = champs.indexOf(gon.situation[i].name2);
        if (horizon5 !== -1) points[horizon5] += gon.situation[i].x;
      }
    }
  }

  // base
  for (var i = 0; i < gon.kihon.length; i++) {
    var horizon6 = champs.indexOf(gon.kihon[i].name2);
    if (horizon6 !== -1) points[horizon6] += gon.kihon[i].x;
  }

  var pairs = champs.map(function(champ, i) {
    return { champ: champ, point: points[i] };
  });

  // 無効データを除外
  pairs = pairs.filter(function(pair) {
    return pair.champ && pair.champ !== "" && Number.isFinite(pair.point);
  });

  // 点数順
  pairs.sort(function(a, b) {
    return b.point - a.point;
  });

  // 上位5件だけ表示
  pairs = pairs.slice(0, 5);

  document.getElementById('imageContainer').innerHTML = '';
  document.getElementById('matchCountContainer').textContent = '';

  pairs.forEach(function(pair, index) {
    var img = document.createElement('img');
    img.src = '/champs/' + pair.champ + '/image';
    img.onerror = function() {
      this.style.display = 'none';
    };

    var text = document.createElement('span');
    text.textContent = ' ' + pair.champ + ': ' + pair.point;

    var sizeClass;
    if (index === 0) {
      sizeClass = 'large';
    } else if (index === 1) {
      sizeClass = 'medium';
    } else {
      sizeClass = 'small';
    }

    img.className = 'champ-image ' + sizeClass;
    text.className = 'champ-text ' + sizeClass;

    var div = document.createElement('div');
    div.appendChild(img);
    div.appendChild(text);

    document.getElementById('imageContainer').appendChild(div);
  });

  document.getElementById('matchCountContainer').textContent =
    pairs.map(function(pair) {
      return pair.champ;
    }).join(', ');
}
</script>