<style>
  body {
    font-family: 'M PLUS 1p', sans-serif;
  }

  .user-item {
    border: none;
    border: 3px solid #808080;
    border-radius: 10px;
  }
  h1 {
    text-align: left;
  }

  .user-image-or-name {
    width: 100px;
    height: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .user-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: none;
    background-color: white;
    border: 3px solid #808080;
    border-radius: 10px;
  }
  .temp-link {
    font-size: 40px;
    text-align: left;
  }

  .temp-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .field {
  text-align: left;
  border-radius: 1px;
}
.actions {
  text-align: left;
}

  .temp-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: none;
    background-color: white;
    border: 3px solid #808080;
    border-radius: 10px;
  }
</style>
<h1>ユーザー情報の編集</h1>
<h1>
  <div class="user-item">
    <div class="user-image-or-name">
      <% if @user2.image.attached? %>
        <%= image_tag @user2.image.variant(resize_to_fill: [100, 100]).processed, class: 'user-image' %>
      <% else %>
        <%= image_tag '人物の無料素材.png', class: 'user-image' %>
      <% end %>
    </div>
    <%= @user2.name %> さんのページ
  </div>
</h1>

<% if current_user && current_user.id == @user2.id %>
  <%= form_with(model: @user2, local: true) do |form| %>
    <% if @user2.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user2.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user2.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :名前 %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :ユーザー画像 %>
      <%= form.file_field :image %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
<h1>テンプレート一覧</h1>
<% @usertemp.each do |ra| %>
  <li class="temp-item">
    <% if ra.image.attached? %>
      <%= image_tag ra.image.variant(resize_to_fill: [100, 100]).processed, class: "temp-image" %>
      <% else %>
        <%= image_tag '登山アイコン4.png', class: 'user-image' %>
      
    <% end %>
    <div class="temp-link">
      <%= ra.name %>
    </div>
    <% if current_user && current_user.id == @user2.id %>
      <%= button_to "Delete", user_path(ra), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "flex-shrink: 0; margin-left: 0px;" %>
      <%= button_to "Edit", edit_temp_path(temp_id: ra.temp_id), method: :get, class: "btn btn-primary", style: "flex-shrink: 0; margin-left: 10px;" %>
    <% end %>
  </li>
  <hr>
<% end %>
<h1>メタ一覧</h1>
<%@esa=@user2.metamons%>
<% @esa.each do |de| %>
    <li class="temp-item">
      
      <div class="user-image-or-name">
        <% if de.image.attached? %>
          <%= image_tag de.image.variant(resize_to_fill: [100, 100]).processed, class: "user-image" %>
        <% else %>
          <%= image_tag '本の無料アイコン素材2.png', class: 'user-image' %>
        <% end %>
      </div>
      <div class="temp-link">
      <%= de.name %>
      </div><%= de.setumei %>
      ゲームの名前:<%= de.gamename %>
      <% if current_user && current_user.id == @user2.id %>
      <%= button_to "Delete", metamon_path(de), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "flex-shrink: 0; margin-left: 0px;" %>
    <%= button_to "Edit", edit_initiate_path(truemetamonid: de.truemetamonid), method: :get, class: "btn btn-primary", style: "flex-shrink: 0; margin-left: 10px;" %>
    <% end %>
  </li>
<% end %>