<style>
  body {
    font-family: 'M PLUS 1p', sans-serif;
  }

  .user-item {
    border: none;
    border: 3px solid #808080;
    border-radius: 10px;
  }
  h1 {
    text-align: left;
  }

  .user-image-or-name {
    width: 100px;
    height: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    background-color: white;
    border: 3px solid #808080;
    border-radius: 10px;
  }
  .temp-link {
    font-size: 40px;
  }

  .temp-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .temp-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: none;
    background-color: white;
    border: 3px solid #808080;
    border-radius: 10px;
  }
</style>

<h1>
  <div class="user-item">
    <div class="user-image-or-name">
      <% if @user2.image.attached? %>
        <%= image_tag @user2.image.variant(resize_to_fill: [100, 100]).processed, class: 'user-image' %>
      <% else %>
        <%= image_tag '人物の無料素材.png', class: 'user-image' %>
      <% end %>
    </div>
    <%= @user2.name %> さんのページ
  </div>
</h1>
<h1>テンプレート一覧</h1>
<% @usertemp.each do |ra| %>
  <li class="temp-item">
    <% if ra.image.attached? %>
      <%= image_tag ra.image.variant(resize_to_fill: [100, 100]).processed, class: "temp-image" %>
    <% end %>

    <% if current_user %>
      <%= link_to ra.name, tempshow_path(ra, user_id: @user2.id, id: ra.temp_id), class: "temp-link" %>
    <% else %>
      <%= link_to ra.name, login_path, class: "temp-link" %>
    <% end %>
  </li>
  <hr>
<% end %>
<h1>メタ一覧</h1>
<%@esa=@user2.metamons%>
<% @esa.each do |de| %>
    <li class="temp-item">
      
      <div class="user-image-or-name">
        <% if de.image.attached? %>
          <%= image_tag de.image.variant(resize_to_fill: [100, 100]).processed, class: "temp-image" %>
        <% else %>
          <%= image_tag '本の無料アイコン素材2.png', class: 'temp-image' %>
        <% end %>
      </div>
      <div class="temp-link">
      <%= link_to de.name, {controller: "scores", action: "easymain", usertemp_id: de.tempuser_id, user_id: de.user_id, metamon_id: de.truemetamonid} %>
      </div><%= de.setumei %>
      ゲームの名前:<%= de.gamename %>
    </li>
<% end %>